
nav{
    color: rgb(243, 240, 234);
    font-size: 22px;
}
.index_body{
    background-color: rgb(97, 111, 145);
} 
a:link{
    color: rgb(175, 19, 19);
}
a:visited{
    color: rgb(2, 13, 37);
}
h1{
    text-align: center;
    height: 150px;
    background-image: url(/images/rocks.jpg);
    color: white;
    background-repeat: repeat-x;
    font-size: 60px;
}

