h1{
    color:blue;
    background-color: rgb(198, 233, 243);
    width: 100%;
    text-align: center;
    height: 40px;
    padding: 25px;
}
.single_body{
   background-color: rgb(248, 225, 176);
a:visited{
    color: green;
}
body{
    
    font-family: 'Cormorant Garamond', serif;
    font-size: 10px;
}
