h1{
    color:rgb(34, 30, 54);
    background-color: rgb(41, 64, 114);
    width: 100%;
    text-align: center;
    height: 40px;
    padding: 25px;
}
.single_body{
    border-left-color: rgb(135, 95, 18);
    border-left-style: solid;
    border-width: 10px;
}
a:visited{
    color: green;
}
body{
    font-family: 'Cormorant Garamond', serif;

font-size: 22px;
}
